---
name: autofix.ci
on: pull_request
permissions: {}
jobs:
  autofix:
    runs-on: ubuntu-24.04
    permissions: {}
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.55.3
      - name: Update aqua-checksums.json
        run: aqua upc -prune
        env:
          GITHUB_TOKEN: ${{github.token}}

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .node-version
          cache-dependency-path: package-lock.json
          cache: npm
      - run: npm ci
      - name: Update JSONSchema
        run: npm run schema
      - name: Format using prettier
        run: npm run fmt

      - name: Fix newlines
        run: git ls-files | xargs nllint -f -s
      - name: Update actions in the document
        env:
          GITHUB_TOKEN: ${{github.token}}
        run: |
          git ls-files | grep -E '\.md$' | xargs pinact run -u
      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27 # v1.3.2
