---
name: autofix.ci
on: pull_request
permissions: {}
jobs:
  autofix:
    runs-on: ubuntu-24.04
    permissions: {}
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.55.1
      - name: Update aqua-checksums.json
        run: aqua upc -prune
        env:
          GITHUB_TOKEN: ${{github.token}}

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: js/.node-version
          cache-dependency-path: js/package-lock.json
          cache: npm
      - run: npm ci
        working-directory: js
      - name: Update JSONSchema
        run: npx ts-node src/generate_schema.ts
        working-directory: js

      - name: Fix newlines
        run: git ls-files | xargs nllint -f -s
      - name: Update actions in the document
        env:
          GITHUB_TOKEN: ${{github.token}}
        run: |
          git ls-files | grep -E '\.md$' | xargs pinact run -u
      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27 # v1.3.2
