# This is a dummy workflow file to test actions using actionlint.
# This workflow is never run.
name: test action (actionlint)
on: workflow_call
jobs:
  actionlint-action:
    timeout-minutes: 10
    runs-on: ubuntu-24.04
    permissions: {}
    steps:
      - uses: ./
        with:
          app_id: dummy
          app_private_key: dummy
          action: client
          server_repository: dummy
